h1 {
  text-align: center;
}

.category {
  width: 20%;
  text-align: left;
  font-size: 18px;
  padding: 5px;  
}
.category input {
  width: 137px;
}

.container {
  display: flex;
}

.category-style{
  text-align: left;
  font-size: 18px;
}
.notes {
  width: 80%;

}

.list-style{
  border:1px solid rgb(243, 237, 237);
  background-color:#e5e2e2;
  margin: 10px 0;
  padding: 3px;
}

.button-style{
  float: right;
  border-radius: 5px;
}

