h1 {
  text-align: center;
}

.category {
  width: 20%;
  font-weight: bold;
  text-align: left;
  font-size: 18px;
  padding: 5px;  
}
.category input {
  width: 137px;
}

.container {
  display: flex;
}

.category-style{
  text-align: left;
  font-size: 18px;
  padding-left: 10px;
}
.notes {
  width: 80%;

}


